*, *::before, *::after {
    color:Black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 body{
   background-image: url('./assets/d&dbackground.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}
body, html{
   min-height: 100%;
   min-width: fit-content;
}

 button {
    font-size: 35px;
    color: white;
    background: linear-gradient( rgb(218, 197, 16), green );
    width: 100px;
    height: 105px;
    border: 3px solid white;
 }

 #bg{
    margin-top: 5em;
    text-align: center;
    display: flex;
    justify-content: space-around;
 }

 #dice{
    margin: auto;
    width: 50%;
    border: 3px solid black;
   }
 label{
    font-size: 28px;
    color:white;
 }
 #input1{
    width: 100px;
 }
 #calc{
    height: 100px;
    width: 100px;
 }
 #currency{
    margin-top: 5em;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 #c1,
 #cur{
    font-size: 16px;
 }
 #cur{
    margin-left:1em;
 }
 #curBtn,
 #calc{
    height: 40px;
    width: 90px;
    font-size: 20px;
    border: 3px solid white;
    margin: 22px;
    background-color: green;
 }
 #cT1, #cT2{
    margin: 20px;
    font-size: 16px;
 }
 #to{
    color:White;
 }
 
 #Maths{
    margin-top: 10px;
    text-align: center;
 }
 #input1, #input2, #result{
    font-size: 16px;
    margin-bottom: 10px;
 }
 #title1{
    margin-top: 1em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
 }
 #title2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px black;
 }
 #operators{
    font-size: 20px;
 }
